# Virtual Environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# =========================
# Django Settings (Secrets)
# =========================
settings.py
*/settings.py

# =========================
# Databases
# =========================
db.sqlite3
*.sqlite3
*.db

# =========================
# Django Migrations
# =========================
**/migrations/
!**/migrations/__init__.py